*{
    box-sizing: border-box; /* hacen que el padding y el border pasen a formar parte del calculo del ancho de la caja */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;

}
.left{
    float: left;

}
.right{
    float: right;
}
/* header */

header {
    position: fixed;
    background-color: rgb(121, 30, 30);
    width: 100%;

}
/* los selectores de clase comienzan con un punto */
.header-container {
margin: auto;
max-width: 1700px;
padding: 0.5rem;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0.18rem;
    
}
h1 {
    display: inline;
}

nav {
    float: right;
    margin: 9px;
}

header li {
    display: inline;
    list-style: none;
}

/* presentation */

.presentation{
    height: 720px;
    font-size: 25px;
}
.presentation-video{
    height: 720px;
    position:fixed;/*está posicionado en relación con la ventana gráfica, lo que significa que siempre permanece en el mismo lugar incluso si se desplaza la página sin dejar huecos*/
    top:0%;
    left: 0%;
    width: 100%;   
    z-index: -1;
}
.presentation-video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.dark-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.presentation-content{
    color: white;
    text-align: center;
    padding: 285px 0;
    margin: auto; 

}
/* acerca de nosotros */
.about{
    height: 1000px;
    font-size: 18px;
}
.about-container{
width: 50%;
height: 50%;
}

.about-content{
    text-align: justify;
    padding: 130px 30px;
}

.about-title{
    margin: 2rem;
    text-align: center;
}

#about-img1{
    background: url(./resources/images/cafe\ 1.jpg);
    background-position: center center;
    background-size: cover;
}

#about-img2{
    background: url(./resources/images/cafe\ 2.jpg);
    background-position: center center;
    background-size: cover;
    
}
/* menu */
.menu {
    clear: both; /* impide que flote a lo largo de cualquier elemento */
    font-size: 20px;
    color: white;
    text-align: center;
    background: url(./resources/images/cafe\ 3.jpg);
    background-size: cover;  

}
.menu-inner{
    padding: 3rem;
    color: white;
}
.menu-title{
    margin: 2rem;

}
.menu ul{
    padding: 0;
}
.menu ul li{
list-style: none; /* sacamos las viñetas */
padding: 2rem;
}
.menu ul li div{
    display: inline;
    padding: 4rem;
}
/* reservation */

* {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(128, 110, 110);
    margin: 0;
    font-family: sans-serif;
  }
  .formulario {
    
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
  }
  .formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
  }
  .formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
  }
  .formulario__input {
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
  }
  .formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
  }
  .formulario__input:focus + .formulario__label{
    margin-top: -135px;
  }
  .formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
  }
  .formulario__submit {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  .fijar {
    margin-top: -135px;
  }
/* footer */
footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 2rempx;
    padding: 1rem;
}


